.main-header {
    @include header;
    justify-content: center;
}

.menu-header {
    @include header;
    justify-content: flex-start;
    a {
        width: 25%;
        i {
            color: black;
        }
    }
}