.main-header {
    @include header;
    justify-content: center;
}

.menu-header {
    @include header;
    justify-content: center;
    a {
        position: absolute;
        left: 0;
        i {
            color: black;
        }
    }
}