.btn-explore {
    color: white;
    border: none;
    border-radius: 20px;
    width: 50%;
    height: 40px;
    @include linear-gradient (180deg, $secondary-color, $primary-color);
    @include btn-shadow;
}

.btn-heart {
    @include button-heart (white);
}

.btn-heart-menus {
    @include button-heart ($background-color);
    display: inline-grid;
}