.dish-card {
    display: flex;
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    @include list-shaddow;
    animation: dishes-appear 1s both;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    flex: 1;
    white-space: nowrap;
    &__title {
        margin: 0;
    }
    &__info {
        margin: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: lighter;
        font-size: 14px;
    }
    & span {
        font-weight: bold;
        align-self: flex-end;
        margin-left: 5px;
    }    
}

@for $i from 0 through 8 {
    .card-#{$i} {
        animation-delay: $i * 100ms;
    }
}


