.dish-card {
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    @include list-shaddow;
    &__title {
        margin: 0;
    }
    &__txt {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        & span {
            text-overflow: "...";
        }
    }
}