/** MAIN **/
.main {
    position: relative;
}

/** LOCATION **/
.location {
    @include flex-center;
    flex-direction: row;
    align-items: center;
    background-color: $location-color;
    height: 40px;
    &__icon {
        @include flex-center;
        width: 40px;
    }
    &__search {
        border: none;
        width: 45%;
        font-size: 16px;
        font-weight: bold;
        background-color: $location-color;
    }
}

#icon-location {
    padding-bottom: 5px;
    color: black;
}

/** EXPLORE **/
.explore {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    height: 250px;
    background-color: $background-color;
    align-items: center;
    &__title {
        padding-left: 50px;
        padding-right: 50px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 0px;
    }
    &__subtitle {
        display: flex;
        text-align: center; 
        padding-left: 15px;
    }
    
}

