/** HEADER **/
.location-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: lightgrey;
    height: 40px;
}

.location-icon {
    display: flex;
    width: 40px;
    justify-content: center;
    align-items: center;
}

#location-search {
    border: none;
    width: 45%;
    font-size: 16px;
    font-weight: bold;
    background-color: lightgrey;
}

.fa-location-dot {
    padding-bottom: 5px;
}

/** TITRE **/
.explore-menu {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

h1 {
    font-weight: 900;
    font-size: 26px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.subtitle {
    display: flex;
    text-align: center;
    padding-left: 5px;
}
