$head-font:"Shrikhand";
$body-font:"Roboto";

/** COLORS  **/
$primary-color: #9356DC;
$primary-color-light: lighten($primary-color, 35%);
$secondary-color: #FF79DA;
$tertiart-color: #99E2D0;
$location-color: lighten(lightgrey, 10%);
$background-color: lighten(lightgrey, 15%);